<!--Grid row-->
<div class="sub-page-container">
  <!--Grid column-->
  <div class="">
    <img src="../../../assets/img/img-behandlung-patai.jpg" class="img-fluid" alt="" />
  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="">
    <h3 class="">Behandlungen</h3>
    <p class="text-muted">
      Für Jung und Alt bieten wir das gesamte Spektrum zahnheilkundlicher Behandlungen. Neben Vorsorgemaßnahmen und
      insbesondere ästhetischen Versorgungsmöglichkeiten sind deshalb Kinderbehandlungen und Zahnheilkunde für Menschen
      ab 60 Jahren ein wichtiger Bestandteil unserer Therapien.
      <a class="font-weight-bold" href="#">Learn more<i class="fas fa-angle-right ml-2"></i></a>
    </p>
  </div>
</div>
