<div class="sub-page-tap-continer">
  <iframe
    width="100%"
    height="500"
    id="gmap_canvas"
    src="https://maps.google.com/maps?q=Frau%20Dr.%20medic.%20(R)%20Cornelia%20Patai-Szabo&t=&z=13&ie=UTF8&iwloc=&output=embed"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
  ></iframe>

  <div style="padding: 10px;">
    <div class="title-page">Über uns</div>
    <div class="description">Gemeinschaftspraxis Fr. Patai und Fr. Dr. Patai</div>
    <div class="container-uberUns-page">
      <div class="title-tabs">Kontakt</div>
      <div class="details-title">
        Eckeseyer Str. 167 58089 Hagen<br />
        Notdienst: 02331 375 90 90 <br />Tel.: 02331 222 84<br />
        Fax: 02331 204 47 11<br />
        E-Mail: praxis@patai.de <br />Internet: www.patai.de
      </div>
      <div class="title-tabs">Sprechzeiten</div>
      <div class="details-title">
        <span>Montag, Dienstag und Donnerstag : </span> von 08:00 - 19:00 Uhr<br />
        <span>Mittwoch : </span>von 08:00 - 15:00 Uhr <br /><span>Freitag : </span>von 08:00 - 18:00 Uhr
      </div>
    </div>
  </div>
</div>
