.sub-page-tap-continer {
  display: flex;
  justify-content: center;
  padding: 35px 40px;
  > div {
    width: 100%;
  }
}
.title-page {
  padding: 20px;
  font-size: 22px;
  font-weight: 800;
}
.description {
  text-align: left;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
}
.details-title {
  text-align: left;
  padding: 10px 25px;
}
.container-uberUns-page {
  .title-tabs {
    width: 400px;
    margin: 10px;
    text-align: left;
    font-size: 17px;
    font-weight: bolder;
    background-color: #5a9509;
    color: white;
    z-index: 2000;
    align-items: center;
    padding: 8px;
  }
  .details-title-sprechzeiten {
    line-height: normal;
    text-align: left;
    margin-left: 25px;
    margin-top: 2px;
    padding: 5px;
    background-color: #5a950952;
    span {
      font-size: 14px;
      font-weight: 600;
      padding: 4px;
    }
    .days {
      display: flex;
      flex-direction: row;
      p {
        width: 100px;
        margin: 5px;
        font-weight: 600;
      }
      div {
        margin: 5px;
      }
    }
  }
}
@media (max-width: 950px) {
  .sub-page-tap-continer {
    flex-direction: column;

    .title-tabs {
      margin-left: 0px;
      width: auto;
    }
    .details-title-sprechzeiten {
      margin-left: 5px;
    }
  }
}
::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #5a9509 !important;
}
