<div class="medical-service-container">
  <app-separator></app-separator>
  <div class="medical-service-content">
    <div class="left-content">
      <div class="item">
        <div class="text-info">Lernen Sie uns Zahnärztinnen und unsere Mitarbeiter kennen!</div>
        <div class="item-icon"><fa-icon [icon]="faBriefcaseMedical"></fa-icon></div>
      </div>
      <div class="item">
        <div class="text-info">
          Informieren Sie sich über unser Therapiespektrum, das nahezu die gesamte moderne Zahnheilkunde umfasst.
        </div>
        <div class="item-icon"><fa-icon [icon]="faChild"></fa-icon></div>
      </div>
      <div class="item">
        <div class="text-info">
          Unser besonderer Fokus liegt auf den Bereichen Ästhetische Zahnheilkunde, Implantate, Oralchirurgie,
          Kinderzahnheilkunde und Zahnheilkunde 60plus.
        </div>
        <div class="item-icon"><fa-icon [icon]="faTooth"></fa-icon></div>
      </div>
      <div class="item">
        <div class="text-info">
          Services wie Terminerinnerungen, Tipps, Einmalzahnbürsten und viele weitere machen Ihnen den Besuch bei uns so
          angenehm wie möglich.
        </div>
        <div class="item-icon"><fa-icon [icon]="faFemale"></fa-icon></div>
      </div>
    </div>
    <div class="img-content">
      <img src="../../../assets/img/service-bg.jpg" />
    </div>
    <div class="right-content">
      <div class="item">
        <div class="item-icon"><fa-icon [icon]="faSmile"></fa-icon></div>
        <div class="text-info">Der erste Besuch bei uns?</div>
      </div>
      <div class="item">
        <div class="item-icon"><fa-icon [icon]="faBriefcaseMedical"></fa-icon></div>
        <div class="text-info">Unser Ziel: Sie lächeln zu sehen!</div>
      </div>
      <div class="item">
        <div class="item-icon"><fa-icon [icon]="faBriefcaseMedical"></fa-icon></div>
        <div class="text-info">Mit Implantaten Zahnersatz stabil verankern</div>
      </div>
      <div class="item">
        <div class="item-icon"><fa-icon [icon]="faBriefcaseMedical"></fa-icon></div>
        <div class="text-info">Lernen Sie uns Zahnärztinnen und unsere Mitarbeiter näher kennen.</div>
      </div>
    </div>
  </div>
</div>
