<div class="medical-service-container">
<app-separator></app-separator>
<div class="medical-service-content">
    <div class="left-content">
        <div class="item">
                <div></div>
           <div class="item-icon"> <fa-icon [icon]="faBriefcaseMedical"></fa-icon> </div>
        </div>
        <div class="item">
                <div></div>
                <div class="item-icon"> <fa-icon [icon]="faChild"></fa-icon> </div>
        </div>
        <div class="item">
                <div></div>
                <div class="item-icon"> <fa-icon [icon]="faTooth"></fa-icon></div>
        </div>
        <div class="item">
                <div></div>
                <div class="item-icon"> <fa-icon [icon]="faFemale"></fa-icon></div>
        </div>
    </div>
    <div class="img-content">
        <img src="../../../assets/img/service-bg.jpg">
    </div>
    <div class="right-content">
            <div class="item">
                <div class="item-icon"> <fa-icon [icon]="faSmile"></fa-icon> </div>
                <div></div>
            </div>
            <div class="item">
                <div class="item-icon"> <fa-icon [icon]="faBriefcaseMedical"></fa-icon> </div>
                <div></div>   
            </div>
            <div class="item">
                <div class="item-icon"> <fa-icon [icon]="faBriefcaseMedical"></fa-icon></div>
                <div></div>   
            </div>
            <div class="item">
                <div class="item-icon"> <fa-icon [icon]="faBriefcaseMedical"></fa-icon></div>
                <div></div> 
            </div>

    </div>
</div>
</div>
