<div class="medical-service-container">
  <app-separator></app-separator>
  <div class="medical-service-content">
    <div class="left-content">
      <div class="item">
        <div class="text-info">Prophylaxe</div>
        <div class="item-icon"><fa-icon [icon]="faTooth"></fa-icon></div>
      </div>
      <div class="item">
        <div class="text-info">
          Ästhetische Zahnmedizin
        </div>
        <div class="item-icon"><fa-icon [icon]="faTooth"></fa-icon></div>
      </div>
      <div class="item">
        <div class="text-info">
          Kinderzahnheilkunde
        </div>
        <div class="item-icon"><fa-icon [icon]="faTooth"></fa-icon></div>
      </div>
      <div class="item">
        <div class="text-info">
          Zahnheilkunde 60+
        </div>
        <div class="item-icon"><fa-icon [icon]="faTooth"></fa-icon></div>
      </div>
    </div>
    <div class="img-content">
      <img src="../../../assets/img/service-bg.jpg" />
    </div>
    <div class="right-content">
      <div class="item">
        <div class="item-icon"><fa-icon [icon]="faTooth"></fa-icon></div>
        <div class="text-info">Füllungen und Inlays</div>
      </div>
      <div class="item">
        <div class="item-icon"><fa-icon [icon]="faTooth"></fa-icon></div>
        <div class="text-info">Zahnersatz</div>
      </div>
      <div class="item">
        <div class="item-icon"><fa-icon [icon]="faTooth"></fa-icon></div>
        <div class="text-info">Zahnimplantate</div>
      </div>
      <div class="item">
        <div class="item-icon"><fa-icon [icon]="faTooth"></fa-icon></div>
        <div class="text-info">Oralchirurgie</div>
      </div>
    </div>
  </div>
</div>
