<div class="shudle-box">
    <div class="title">Kontakt</div>
     <div class="adress">
        <p>Gemeinschaftspraxis Fr. Patai und Fr. Dr. Patai</p>
        <div class="adress-details">
            Eckeseyer Str. 167 <br>
            58089 Hagen<br>
            Notdienst: 02331 375 90 90<br>
            Tel.: 02331 222 84<br>
            Fax: 02331 204 47 11<br>
            E-Mail: praxis@patai.de<br>
            Internet: www.patai.de<br>
        </div>
        <p>Sprechzeiten</p>
        <div  class="adress-details">
            Montag, Dienstag und Donnerstag<br>
               von 08:00 - 19:00 Uhr<br>
            Mittwoch<br>
            von 08:00 - 15:00 Uhr<br>
            Freitag<br>
           von 08:00 - 18:00 Uhr<br>
        </div>
     </div>

</div>

