<div class="quik-links-box">
  <div class="title">QUICK LINKS</div>

  <ul class="list-unstyled">
    <li><fa-icon [icon]="faCaretRight"></fa-icon><a mat-button [routerLink]="'/home'"> Praxis</a></li>
    <li><fa-icon [icon]="faCaretRight"></fa-icon><a mat-button [routerLink]="'/create-account'"> Leistungen </a></li>
    <li><fa-icon [icon]="faCaretRight"></fa-icon><a mat-button [routerLink]="'/contacts'"> Patienten </a></li>
    <li><fa-icon [icon]="faCaretRight"></fa-icon><a mat-button [routerLink]="'/create-contact'"> Neuigkeiten </a></li>
    <li><fa-icon [icon]="faCaretRight"></fa-icon><a mat-button [routerLink]="'/kontakt'"> Kontakt</a></li>
  </ul>
</div>
