.toolbar{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    height: 160px;
    align-items: center;
    background-color: white;
    justify-content: space-around;
}
.sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    .toolbar{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
        height: 160px;
        align-items: center;
        background-color: white;
        justify-content: space-around;
    }
  }