.praxis-continer {
  width: 100%;
  overflow: hidden;
  .praxix-main-cotainer {
    position: relative;
    width: 100%;
    height: 400px;
    img {
      width: 100%;
      height: 100%;
    }
    .praxix-main-cotainer-1-item {
      position: absolute;
      background-color: rgba(255, 254, 254, 0.8);
      bottom: 159px;
      left: 200px;
      font-size: 30px;
      padding: 25px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .praxix-main-cotainer-2-item {
      position: absolute;
      background-color: rgba(255, 254, 254, 0.8);
      font-size: 30px;
      padding: 25px;
      bottom: 50px;
      right: 340px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .content-root {
    width: 100%;
    height: 40px;
    background-color: #d0a3e6;
  }
}

@media (max-width: 570px) {
  .praxis-continer {
    .praxix-main-cotainer-1-item,
    .praxix-main-cotainer-2-item {
      margin-left: 50%;
      left: -118px !important;
      width: 200px !important;
    }
  }
}
