<div class="sub-page-tap-continer">
  <div>
    <img style="width: 100%;" src="../../../assets/img/aboutUs.png" />
  </div>
  <div>
    <div class="title-page">Über uns</div>
    <div class="description">
      Unsere Gemeinschaftspraxis befindet sich seit 1988 in einem Wohngebiet von Hagen in der Eckeseyer Straße 167.
    </div>
    <div class="container-uberUns-page">
      <div class="title-tabs">
        Parkplatz vor der Tür
      </div>
      <div class="details-title">
        Vor der Tür stehen Ihnen Parkplätze zur Verfügung, und mit den öffentlichen Verkehrsmitteln sind wir ebenfalls
        gut zu erreichen. Da nur drei Stufen in unsere Praxisräume führen, können auch körperlich beeinträchtigte
        Menschen in der Regel problemlos zu uns kommen.
      </div>
    </div>
    <div class="container-uberUns-page">
      <div class="title-tabs">
        Mehr Informationen
      </div>
      <div class="details-title">
        Ihr direkter Draht zu uns
      </div>
      <div class="details-title">
        Lernen Sie uns Zahnärztinnen und unsere Mitarbeiter näher kennen.
      </div>
      <div class="details-title">
        Oder werfen Sie doch einen Blick in unsere Bildergalerie und die Ausstattung
      </div>
      <div class="details-title">
        Informationen über unser Behandlungsspektrum.
      </div>
    </div>
  </div>
</div>
