<div class="sub-page-tap-continer">
  <img width="100%" height="500" src="../../../assets/img/Neuigkeiten.jpg" />

  <div style="padding: 10px;">
    <div class="title-page">Neuigkeiten</div>
    <div class="description">Aktuelles aus der Praxis</div>
    <div class="container-uberUns-page">
      <div class="details-title">
        Unser neuer Internetauftritt – viele Informationen, gut strukturiert Wir haben unseren Internetauftritt nach
        aktuellen Maßstäben völlig neu gestaltet! Neue Features sind zum Beispiel:
      </div>
      <div class="title-section">
        <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
        <div>
          Ihre Meinung ist uns wichtig
        </div>
      </div>
      <div class="title-section">
        <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
        <div>
          Schauen Sie sich in Ruhe um und sagen Sie uns doch, wie Sie unseren Internetauftritt finden. Wir freuen uns
          darauf!
        </div>
      </div>
      <div class="title-section">
        <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
        <div>
          Ihr Team der Gemeinschaftspraxis Lorena Maria Patai und Cornelia Patai, Hagen
        </div>
      </div>
      <div class="details-title">
        Ihre Meinung ist uns wichtig<br />

        Schauen Sie sich in Ruhe um und sagen Sie uns doch, wie Sie unseren Internetauftritt finden. Wir freuen uns
        darauf!<br />

        Ihr Team der Gemeinschaftspraxis Lorena Maria Patai und Cornelia Patai, Hagen<br />
      </div>
    </div>
  </div>
</div>
