<div class="sub-page-tap-continer">
  <div>
    <div class="title-page">Behandlungen</div>
    <div class="description">
      Für Jung und Alt bieten wir das gesamte Spektrum zahnheilkundlicher Behandlungen. Neben Vorsorgemaßnahmen und
      insbesondere ästhetischen Versorgungsmöglichkeiten sind deshalb Kinderbehandlungen und Zahnheilkunde für Menschen
      ab 60 Jahren ein wichtiger Bestandteil unserer Therapien.
    </div>
    <div class="title-tabs">
      Hier ein Überblick über unsere Behandlungen:
    </div>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Prophylaxe">
        <div class="content-tab">
          <div class="content-tab-img-container">
            <img src="../../../assets/img/Prophylaxe.jpg" />
          </div>
          <div class="content-tab-details-container">
            <div class="description-tab">
              Eine gute und regelmäßige Vorsorge schützt effektiv vor Zahnerkrankungen. <br />Wie wir Sie dabei
              unterstützen:
            </div>
            <div class="description-body">
              <div class="title-section">Fissurenversiegelungen bei Kindern und Erwachsenen</div>
              Vor allem für Kinder geeignet: Wachsen die ersten Backenzähne, ist es sinnvoll, sie direkt vor Karies zu
              schützen. Dies geschieht, indem wir die feinen Nischen auf der Kaufläche – die Fissuren – reinigen und sie
              anschließend mit einem zahnfarbenen, haltbaren Kunststoff verschließen. Diese sinnvolle Maßnahme
              erleichtert Ihrem Kind die Zahnpflege.<br />
              Sind die Backenzähne bei Erwachsenen kariesfrei, ist auch bei ihnen eine Fissurenversiegelung unter
              bestimmten Voraussetzungen noch sinnvoll. Wir beraten Sie gerne.
              <div class="title-section">Parodontaler Screening-Index (PSI)</div>
              Eine dünne Parodontalsonde dient uns dazu, Zahnfleischtaschen und deren Tiefe zu messen. Das Ergebnis gibt
              uns Aufschluss, wie gesund Ihr Zahnbett – also vor allem Zahnfleisch und Kieferknochen – sind.
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label=" Ästhetische Zahnmedizin">
        <div class="content-tab">
          <div class="content-tab-details-container">
            <div class="description-tab">
              Zähne und Zahnfleisch sollen in erster Linie rundum gesund sein, damit Sie problemlos zubeißen und kauen
              können. Erst in zweiter Linie ist das ästhetische Aussehen der Zähne wichtig – es spielt aber eine nicht
              weniger geringe Rolle für das persönliche Wohlbefinden. Uns ist es wichtig, dass Sie gerne lächeln!
              Deshalb setzen wir uns selbst einen hohen ästhetischen Anspruch
              <div class="title-section">
                Wir haben folgende Möglichkeiten zur Verfügung, damit Sie mit Ihren Zähnen rundum zufrieden sein können:
              </div>
              <owl-accordion>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Vollkeramische Versorgung bei Zahnersatz.
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>

                  Eine Versorgung mit Vollkeramik hat einige Vorteile gegenüber Zahnersatz aus Edelmetall oder anderen
                  Materialien.

                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      Unauffällig. Vollkeramische Lösungen können exakt an Ihre natürliche Zahnfarbe angepasst werden
                      und fallen daher nicht auf.
                    </div>
                  </div>
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      Glatte Oberfläche. Keramische Werkstoffe haben eine glatte Oberfläche. Bakterien finden deshalb
                      kaum Halt, was insbesondere Karies sehr gut vorbeugt.
                    </div>
                  </div>
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      Lange Haltbarkeit. Aktuelle Studien haben gezeigt: Keramik zeigt einen ähnlichen Abrieb wie die
                      natürliche Zahnsubstanz und ist aus diesem Grund sehr lange haltbar.
                    </div>
                  </div>
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      Nichtleitend. Keramik leitet lediglich in einem minimalen Maß Wärme und Kälte weiter – und Sie
                      können beschwerdefrei heiße und kalte Speisen essen. Biokompatibel. Keramik ist sehr gut
                      körperverträglich (biokompatibel).
                    </div>
                  </div>
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      Deshalb ist dieses Material auch für Allergiker oder Menschen geeignet, bei denen sich rascher
                      Überempfindlichkeitsreaktionen zeigen.
                    </div>
                  </div>
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Zahnfarbene Füllungen und Inlays.
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>

                  Mehr zu zahnfarbenen Füllungen finden Sie unter <a href="#">Füllungen und Inlays</a> .
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Veneers für Schneide- und Eckzähne.
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Um Zähne professionell aufzuhellen, stehen mehrere Möglichkeiten zur Verfügung.
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      In-Office Bleaching. Das In-Office Bleaching führen wir in der Praxis durch. Dabei tragen wir das
                      Bleichmittel außen auf die Zähne auf. Träger des Bleichmittels sind individuell angefertigte
                      Schienen, die auf die Zahnreihen gesetzt werden. Ihre Zähne können zum Beispiel gezielt an
                      Zahnersatz (Veneers, Kronen, Brücken, Füllungen) angepasst werden
                    </div>
                  </div>
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      Home-Bleaching. Sie können Ihre Zähne auch bequem zu Hause aufhellen. Dazu erhalten Sie von uns
                      eine individuell angefertigte Kunststoffschiene und ein Bleachingmittel. Die Schiene wird mit dem
                      Bleachingmittel befüllt und täglich für eine oder mehrere Stunden auf die Zähne gesetzt. Nach rund
                      zwei Wochen ist das gewünschte Ergebnis in der Regel erreicht.
                    </div>
                  </div>
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      Internes Bleaching. Mit einem internen Bleaching können wir innere Verfärbungen
                      wurzelkanalbehandelter Zähne aufhellen. Wir entfernen die Füllung und bringen das Bleichmittel in
                      den Zahn. Bis das gewünschte Ergebnis erreicht ist, wird der Zahn vorübergehend mit einer
                      provisorischen Füllung verschlossen – und wir versorgen Sie anschließend mit einer neuen,
                      zahnfarbenen Füllung.
                    </div>
                  </div>
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Als Blickfang: Zahnschmuck.
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Möchten Sie Ihre Zähne zum dezenten Blickfang machen? Mit Schmucksteinen, Gold- oder Silberplättchen
                  verhelfen wir ihnen zu einem eleganten Aussehen! Auf den leicht angerauten Zahn kleben wir den
                  Schmuckstein auf, der meist mehrere Jahre hält. Sollte Ihnen Ihr Zahnschmuck nicht mehr gefallen,
                  können wir ihn problemlos entfernen.<br />
                  Übrigens: Bei guter Mundhygiene ist korrekt angebrachter Zahnschmuck für Ihren Zahn unschädlich.<br />
                  Sie sind mit Ihrer Frontzahnpartie unzufrieden und finden, Ihre Zähne sind zu ungleichmäßig geformt?
                  Oder Sie hätten gerne hellere Zähne? Wir beraten Sie gerne, welche Möglichkeiten der ästhetischen
                  Korrektur es gibt.
                </owl-expansion-panel>
              </owl-accordion>
            </div>
          </div>
          <div class="content-tab-img-container">
            <img src="../../../assets/img/Ästhetische.jpg" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Kinderzahnheilkunde">
        <div class="content-tab">
          <div class="content-tab-img-container">
            <img src="../../../assets/img/Kinderzahnheilkunde.jpg" />
          </div>
          <div class="content-tab-details-container">
            <div class="description-tab">
              Kinder sollten von Anfang an in entspannter Atmosphäre an regelmäßige Besuche beim Zahnarzt gewöhnt
              werden. So entwickeln sie in der Regel später keine Angst vor den Untersuchungen und erlernen eine gute
              Zahnpflege – die Grundvoraussetzung, Zahn- und Munderkrankungen wirksam vorzubeugen.<br />
              Deshalb haben wir für Kinder folgende Extras in der Praxis:
            </div>
            <div class="description-body">
              <owl-accordion>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Spielecke im Wartezimmer
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  In unserem Wartezimmer gibt es eine Ecke mit Spielmöglichkeiten. Dort können sich die Kinder mit Lego
                  oder Malvorlagen bis zur Untersuchung ablenken.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Kinderbehandlungsstuhl
                    </owl-expansion-panel-description> </owl-expansion-panel-header
                  >Wir haben einen Kinderbehandlungsstuhl, der kleiner ist als der für unsere erwachsenen Patienten.
                  Zusätzlich ist er mit einer Kopfstütze ausgestattet, die sich für jedes Kind individuell einstellen
                  lässt.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Anästhesie-Spray
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Sollte doch einmal eine Behandlung notwendig sein und wir müssen eine lokale Betäubung durchführen,
                  geben wir vorher ein spezielles Anästhesie-Spray auf die Stelle. Es schmeckt lecker und betäubt das
                  Zahnfleisch. Ihr Kind wird von der Spritze in der Regel nichts merken.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Besondere Aktionen mit Kindern
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Wir planen regelmäßig Kinderaktionen, bei denen wir die Kinder spielerisch an die tägliche Mundhygiene
                  und zahngesunde Lebensgewohnheiten heranführen. So stellen wir zum Beispiel Zahnpasta selbst her oder
                  veranstalten einen Zahnputzwettbewerb.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Zusammenarbeit mit einer Kieferorthopädin
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Die Kieferorthopädie befasst sich mit Zahn- und Kieferfehlstellungen und deren Korrektur. Wir arbeiten
                  in diesem Bereich seit Langem mit der Kieferorthopädin Dr. Carla Hohl in Hagen zusammen und stellen
                  auf Wunsch den Kontakt zu ihr her. Selbstverständlich kooperieren wir auch mit einem Facharzt Ihrer
                  Wahl!<br />
                  Haben Sie als Kind eine Zahnspange getragen? Dann lassen Sie Ihr Kind am besten bereits mit drei, vier
                  Jahren von uns auf mögliche Fehlstellungen untersuchen. Denn sie werden unter anderem vererbt. Mit
                  einer frühen Behandlung können Sie eine spätere, langwierige Therapie oft um einiges verkürzen. Wir
                  helfen Ihnen selbstverständlich gerne weiter.
                </owl-expansion-panel>
              </owl-accordion>
            </div>
          </div>
        </div> </mat-tab
      ><mat-tab label="Zahnheilkunde 60+">
        <div class="content-tab">
          <div class="content-tab-details-container">
            <div class="description-tab">
              Persönlich abgestimmte Vorsorgetermine sind auch für ältere Menschen wichtig. Wir wissen, worauf wir
              achten müssen und kennen die altersspezifischen Bedürfnisse und Veränderungen.

              <br />Unsere Zahnheilkunde 60plus umfasst:
            </div>
            <div class="description-body">
              <div class="title-section">Individuelle Vorsorgeuntersuchungen.</div>
              Mit persönlich abgestimmten Kontrolluntersuchungen können wir Erkrankungen frühzeitig erkennen und rasch
              Behandlungen durchführen.
              <div class="title-section">Beispiel Zahnhalskaries.</div>
              Bei freiliegenden Zahnhälsen, das heißt, wenn sich das Zahnfleisch zurückbildet, kann bei älteren Menschen
              häufiger eine so genannte Zahnhalskaries auftreten. Wir entfernen regelmäßig Zahnbeläge und Zahnstein und
              beugen so einer eventuellen Erkrankung sehr gut vor.

              <div class="title-section">Betreuung des Pflegeheims</div>
              In der Behandlung älterer Patienten sind wir sehr erfahren. Wir betreuen zum Beispiel das Pflegeheim
              gegenüber unserer Praxis in der Eckeseystraße. Wir kennen die altersspezifischen Wünsche und Bedürfnisse
              und wissen, worauf wir achten müssen.
            </div>
          </div>
          <div class="content-tab-img-container">
            <img src="../../../assets/img/Zahnheilkunde 60+.jpg" />
          </div>
        </div> </mat-tab
      ><mat-tab label=" Füllungen und Inlays">
        <div class="content-tab">
          <div class="content-tab-img-container">
            <img src="../../../assets/img/Füllungen.jpg" />
          </div>
          <div class="content-tab-details-container">
            <div class="description-tab">
              Bei einer Kariestherapie oder nach einer Wurzelkanalbehandlung bauen wir Ihren Zahn wieder auf.
              <br />Hier stehen uns mehrere optisch schöne, zahnfarbene Werkstoffe zur Verfügung:
            </div>
            <div class="description-body">
              <div class="title-section">Keramik.</div>
              Keramik ist ein äußerst robustes Material. Mit Füllungen aus diesem Werkstoff, so genannten Inlays, können
              daher insbesondere größere Bereiche der Backenzähne ersetzt werden. (Hier wirken die größten Kaukräfte
              ein). Sie werden im Dentallabor gefertigt. Anschließend fügen wir das Inlay mittels einer speziellen
              Klebetechnik in den Zahn ein. Keramikinlays sind zahnfarben, lange haltbar und gut verträglich.
              <div class="title-section">
                <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                <div>
                  In einer Sitzung zum neuen Keramikinlay? Mit Cerec ist es vielfach machbar!
                </div>
              </div>
              <div class="title-section">
                <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                <div>
                  Für laborgefertigte Keramikinlays und Zahnersatz arbeiten wir mit einem Dentallabor in Wuppertal
                  zusammen.
                </div>
              </div>
              <div class="title-section">Komposite.</div>
              Kompositfüllungen werden für kleine und mittlere Schäden im Frontzahn und im Seitenzahnbereich eingesetzt.
              Um eine lange Haltbarkeit zu erreichen, werden diese Füllungen Schicht für Schicht in den Zahn eingebracht
              und mit Licht ausgehärtet.<br />
              Stellen wir bei einem Kontrolltermin fest, dass ältere Füllungen nicht mehr intakt sind, beraten wir Sie
              selbstverständlich gerne, welches Füllmaterial wir Ihnen empfehlen.
            </div>
          </div>
        </div> </mat-tab
      ><mat-tab label=" Zahnersatz">
        <div class="content-tab">
          <div class="content-tab-details-container">
            <div class="description-tab">
              Unter dem Begriff „Zahnersatz“ werden Versorgungsmöglichkeiten wie Kronen, Brücken oder Teil- und
              Vollprothesen zusammengefasst. <br />Unsere Behandlungsmöglichkeiten:
            </div>
            <div class="description-body">
              <div class="title-section">Kronen.</div>
              Ist ein großer Teil der natürlichen Zahnkrone verloren gegangen, ist in der Regel eine Krone sinnvoll. In
              Form und Farbe können wir sie an Ihre natürlichen Zähne anpassen.
              <div class="title-section">Brücken.</div>
              Eine Brücke können wir Ihnen anfertigen lassen, wenn ein Zahn oder mehrere Zähne fehlen. Im Vorfeld der
              Behandlung prüfen wir, ob Ihr Kieferknochen, Ihr Zahnhalteapparat und Ihr Zahnfleisch gesund sind, und ob
              die benachbarten Zähne (die „Pfeilerzähne“) die Brücke tragen können.<br />
              Eine Alternative zur Brücke kann implantatgetragener Zahnersatz sein. Dadurch können oftmals die gesunden
              Nachbarzähne geschont und gesund erhalten werden. Wir beraten Sie gerne zu den Möglichkeiten!
              <div class="title-section">Prothesen.</div>
              Fehlen einige Zähne oder ganze Zahnreihen, ist eine Versorgung mit Prothesen sinnvoll. Wir passen Sie
              jedem individuell an, sodass die Funktionen Ihres Gebisses wiederhergestellt werden.<br />
              Teil- und Vollprothesen können auch mit Implantaten fest und ästhetisch im Kiefer verankert werden. Wir
              beraten Sie gerne, sprechen Sie uns einfach an.
            </div>
          </div>
        </div></mat-tab
      ><mat-tab label="Zahnimplantate">
        <div class="content-tab">
          <div class="content-tab-img-container">
            <img src="../../../assets/img/Zahnimplantate.jpg" />
          </div>
          <div class="content-tab-details-container">
            <div class="description-tab">
              Um fehlende Zähne samt Zahnwurzel zu ersetzen, sind Implantate bislang die naturnaheste Möglichkeit. Wir
              beraten Sie gerne, ob implantatgetragener Zahnersatz bei Ihnen empfehlenswert ist. Gegebenenfalls kann es
              außerdem notwendig sein, im Vorfeld der Implantation einen Knochenaufbau durchzuführen
            </div>
            <div class="description-body">
              <div class="title-section">Die drei wesentlichen Behandlungssituationen für Implantate sind:</div>
              <div class="title-section" style="color:  rgba(0, 0, 0, 0.87);    font-weight: normal;">
                <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                <div>
                  Es fehlt ein einzelner Zahn.
                </div>
              </div>
              <div class="title-section" style="color:  rgba(0, 0, 0, 0.87);    font-weight: normal;">
                <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                <div>
                  Mehrere Zähne müssen ersetzt werden.
                </div>
              </div>
              <div class="title-section" style="color:  rgba(0, 0, 0, 0.87);    font-weight: normal;">
                <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                <div>
                  Ober- und Unterkiefer müssen vollständig versorgt werden.
                </div>
              </div>
              <div class="title-section">Medizinische und ästhetische Vorteile von Implantaten auf einen Blick:</div>
              <div class="title-section" style="color:  rgba(0, 0, 0, 0.87);    font-weight: normal;">
                <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                <div>
                  Fügen wir Ihnen das Implantat (die künstliche Zahnwurzel) ein und setzen die neue Zahnkrone auf, ist
                  es nicht notwendig, die Nachbarzähne als „Pfeiler“ zu beschleifen (was zum Beispiel bei Brücken der
                  Fall wäre).
                </div>
              </div>
              <div class="title-section" style="color:  rgba(0, 0, 0, 0.87);    font-weight: normal;">
                <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                <div>
                  Implantatgetragener Zahnersatz trägt somit dazu bei, dass Ihre natürlichen Zähne länger intakt
                  bleiben.
                </div>
              </div>
              <div class="title-section" style="color:  rgba(0, 0, 0, 0.87);    font-weight: normal;">
                <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                <div>
                  Und zu guter Letzt: Implantatgetragener Zahnersatz fällt meist nur Fachkollegen als Zahnersatz auf –
                  denn er kann in Form und Farbe genau an Ihre eigenen Zähne angepasst werden.
                </div>
              </div>
            </div>
          </div>
        </div></mat-tab
      ><mat-tab label="Oralchirurgie">
        <div class="content-tab">
          <div class="content-tab-img-container">
            <img src="../../../assets/img/Oralchirurgie.jpg" />
          </div>
          <div class="content-tab-details-container">
            <div class="description-tab">
              Zu den oralchirurgischen Behandlungen in unserer Praxis zählen:
            </div>
            <div class="description-body">
              <owl-accordion>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Zahnentfernungen
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Manchmal ist es nicht mehr möglich, Zähne zu erhalten. Dies kann verschiedene Gründe haben: Unter
                  Umständen ist ein Zahn zu stark durch eine tiefe Karies beschädigt, oder nach einem Zahnunfall konnten
                  wir ihn nicht mehr „retten“.<br />
                  Eine örtliche Betäubung reicht in der Regel aus, damit Sie keine Schmerzen spüren. Zur Entfernung des
                  Zahnes verwenden wir ein spezielles Instrument, mit dem wir ihn vorsichtig und sorgfältig aus dem
                  Zahnhalteapparat entnehmen.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Wurzelspitzenresektionen
                    </owl-expansion-panel-description> </owl-expansion-panel-header
                  >Heilt eine Entzündung an der Zahnwurzelspitze trotz einer sorgfältig durchgeführten
                  Wurzelkanalbehandlung nicht aus, ist eine Wurzelspitzenresektion die letzte Möglichkeit, Ihren Zahn
                  doch noch zu erhalten. Dabei werden die Wurzelspitze und häufig auch das umliegende entzündete Gewebe
                  entfernt.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Zahnfleischtransplantation
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Wenn Zahnhälse freiliegen, kann dies zu überempfindlichen Zähnen führen, die insbesondere auf Kälte-
                  und Hitzereize (Eis oder heißer Kaffee, Tee) sensibel reagieren. Wir können Ihnen in diesem Fall zum
                  Beispiel eine Zahnfleischtransplantation vorschlagen. Dafür entnehmen wir Bindegewebe aus Ihrem Gaumen
                  und platzieren es an den entsprechenden freiliegenden Stellen Ihres Zahnfleisches. Mit einem
                  speziellen Verband schützen wir es, damit es einheilen kann. Anschließend ist das verpflanzte Gewebe
                  in der Regel sehr gut mit dem eigentlichen Zahnfleisch zusammengewachsen. Nicht nur, dass Ihre Zähne
                  nicht mehr so stark auf Reize reagieren – sondern Sie werden wieder gerne lächeln!
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Knochenaufbau
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Fehlt ein Zahn bereits seit mehreren Jahren, „erkennt“ der Kieferknochen aufgrund der fehlenden
                  Belastung, dass er an dieser Stelle nicht mehr benötigt wird. Als Folge baut er sich ab. Vor einer
                  Implantation ist dann oft ein Knochenaufbau notwendig, damit das Implantat einen stabilen Halt im
                  Kieferknochen findet.
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      <a href="#">Implantatgetragener Zahnersatz: </a>bei vielen Patienten eine gute Möglichkeit,
                      fehlende Zähne zu ersetzen.
                    </div>
                  </div>
                </owl-expansion-panel>
              </owl-accordion>
            </div>
          </div>
        </div> </mat-tab
      ><mat-tab label="Parodontitisbehandlung">
        <div class="content-tab">
          <div class="content-tab-img-container">
            <img src="../../../assets/img/Parodontitisbehandlung.jpg" />
          </div>
          <div class="content-tab-details-container">
            <div class="description-tab">
              Die Parodontitis ist in vielen Fällen das Ergebnis einer lange unbehandelten Zahnfleischentzündung. Weil
              sie eine chronische Erkrankung ist, können wir sie nicht heilen, aber ihr Fortschreiten dauerhaft
              aufhalten. Anfangs verursacht die Parodontitis häufig keine Schmerzen. Es treten meist harmlos
              erscheinende Symptome wie Zahnfleischbluten auf. Deshalb bemerken viele Patienten lange Zeit nichts von
              der Erkrankung. Umso wichtiger sind daher regelmäßige Kontrolltermine in unserer Praxis. So können wir die
              Anzeichen früh erkennen und Behandlungen einleiten.
            </div>

            <owl-accordion>
              <owl-expansion-panel>
                <owl-expansion-panel-header>
                  <owl-expansion-panel-description>
                    Die Behandlung der Parodontitis
                  </owl-expansion-panel-description>
                </owl-expansion-panel-header>
                Bei einer Parodontitis verliert der Kieferknochen an Dichte und Höhe. Die Folge: Zwischen Zahn und
                Zahnfleisch entstehen so genannte „Taschen“. In diesen setzen sich leichter bakterielle Beläge fest. Sie
                begünstigen ein weiteres Fortschreiten der Parodontitis, da sie sich mit der Zahnbürste nicht entfernen
                lassen. Mit speziellen Sonden können wir die Taschentiefe messen und die Behandlung darauf abstimmen.<br />
                Uns stehen die so genannte geschlossene sowie die offene Parodontitisbehandlung zur Verfügung. Unter
                Umständen empfehlen wir Ihnen auch einen Parodontitisrisikotest, um die Behandlung abstimmen zu können.
              </owl-expansion-panel>
              <owl-expansion-panel>
                <owl-expansion-panel-header>
                  <owl-expansion-panel-description>
                    Wiederaufbau des Zahnhalteapparats mit Emdogain
                  </owl-expansion-panel-description> </owl-expansion-panel-header
                >Eine Parodontitis kann nicht nur das Zahnfleisch angreifen, sondern den gesamten Zahnhalteapparat.
                <br />
                Häufig können wir ihn wieder aufbauen. Auf diese Weise beugen wir dem Verlust von Zähnen vor: Ist er
                nicht mehr ausreichend stabil, lockern sich die Zähne – und im schlimmsten Fall müssen wir völlig
                gesunde Zähne entfernen.
                <div class="title-section">Die Behandlung mit Emdogain.</div>
                Der Zahnhalteapparat besteht neben dem Kieferknochen auch aus Zahnwurzelzement und Wurzelhaut. Die
                Wurzelhaut setzt sich unter anderem aus Kollagenfaserbündeln zusammen, an denen der Zahn im
                Kieferknochen befestigt ist, aber etwas beweglich bleibt. So kann der Zahn zum Beispiel den Kaudruck
                ausgleichen. Diese gesunde Ausgangssituation möchten wir möglichst genau wiederherstellen. Daher
                verwenden wir ein spezielles Gel (Emdogain), das das Gewebe zum Wachstum anregt. Das Gel wird auf die
                entsprechenden Stellen aufgetragen und mit einer Kollagenmembran abgedeckt. Das Gewebe wird angeregt,
                sich neu zu bilden. Während des Wachstumsprozesses bauen sich das Gel und die Membran nach und nach ab.
                <br />
                Oft erfolgt der Aufbau des Zahnhalteapparates in Verbindung mit einem<a href="#"> Knochenaufbau</a>.
              </owl-expansion-panel>
              <owl-expansion-panel>
                <owl-expansion-panel-header>
                  <owl-expansion-panel-description>
                    Aufnahme ins Recallprogramm
                  </owl-expansion-panel-description>
                </owl-expansion-panel-header>
                Nach einer Parodontitisbehandlung sind neben Ihrer eigenen gründlichen Mundhygiene engmaschige
                Nachsorgetermine enorm wichtig. Daher nehmen wir Sie gerne in unser Recallprogramm auf und erinnern Sie
                rechtzeitig an die anstehenden Untersuchungen.<br />
                Mögliche Anzeichen für Zahnfleisch- und Zahnhalteapparaterkrankungen können zum Beispiel
                Zahnfleischbluten oder Zahnfleischrückgang sein. Wir überprüfen dies bei Ihren Vorsorgeuntersuchungen
                und empfehlen Ihnen gegebenenfalls eine geeignete Behandlung.
              </owl-expansion-panel>
            </owl-accordion>
          </div>
        </div> </mat-tab
      ><mat-tab label="Kiefergelenktherapie">
        <div class="content-tab">
          <div class="content-tab-img-container">
            <img src="../../../assets/img/Kiefergelenktherapie.jpg" />
          </div>
          <div class="content-tab-details-container">
            <div class="description-tab">
              Was viele nicht wissen: Das reibungslose Zusammenspiel unseres Kaumechanismus’ mit den Gelenken und
              Muskeln ist grundlegend für unser allgemeines Wohlbefinden. <br />Verspannungen oder Verschiebungen im
              Kiefergelenk können nicht nur zu einem „ungeraden“ Biss führen, sondern auch weiterreichende Beschwerden
              wie Tinnitus, Kopfschmerzen, Nacken- und Rückenschmerzen, Gesichtsschmerzen oder eine schlechte
              Körperhaltung (Hals- und Lendenwirbelsäule, Becken) hervorrufen.
              <br />
            </div>
            <div class="description-body">
              <div class="title-section">
                Daher sind zum Beispiel exakt angepasster Zahnersatz und Füllungen so wichtig:
              </div>

              Selbst bei nur minimaler Abweichung können die genannten Beschwerden eine Folge sein. Aber umgekehrt kann
              möglicherweise auch negativer Stress der Auslöser für Kiefergelenkbeschwerden sein: Zum Beispiel, wenn Sie
              als Reaktion auf den Stress stark mit den Zähnen knirschen. Die Zähne passen dann im Zusammenbiss nicht
              mehr genau aufeinander – und Muskelverspannungen sowie Verschiebungen des Kiefergelenk können folgen.
              <br />
              <owl-accordion>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Untersuchung von Kiefergelenk und Zusammenbiss
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Die Untersuchungen des Kiefergelenks konzentrieren darauf, wie das Kiefergelenk arbeitet und ob der
                  Biss der oberen und unteren Zahnreihe stimmt. Dabei kommt zunächst die klinische Funktionsanalyse zum
                  Einsatz, in der wir Sie zu den Beschwerden befragen, die Kiefermuskulatur und das Kiefergelenk
                  überprüfen und eine Bissübersicht erstellen. Falls erforderlich, erfolgt im Anschluss die
                  instrumentelle Funktionsanalyse. Hierbei vermessen wir elektronisch Ihr Kiefergelenk, übertragen die
                  Bissübersicht in einen Artikulator („Bewegungssimulator“) und halten fest, wie die ideale Lage Ihres
                  Kiefergelenks aussehen sollte.<br />

                  Mit den Ergebnissen können wir Ihnen eine geeignete Behandlung empfehlen.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Mögliche Behandlungen: Anpassung von Zahnersatz und Zahnschienen
                    </owl-expansion-panel-description> </owl-expansion-panel-header
                  >Füllungen und Zahnersatz. Füllungen, Inlays, Kronen oder Brücken können bereits zu Störungen in Ihrem
                  Kausystem führen, wenn sie nur ein wenig ungenau sitzen, minimal überstehen, abgebrochen oder leicht
                  beschädigt sind. Bei Bedarf korrigieren wir sie oder fertigen Ihnen neue Füllungen oder Zahnersatz
                  an.<br />
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      Damit Keramikinlays und Zahnersatz vom ersten Produktionsschritt an passgenau hergestellt werden,
                      verwenden wir spezielle Abformungsverfahren.
                    </div>
                  </div>
                  <div class="title-section">
                    <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
                    <div>
                      Mehr zu unserer Füllungstherapie und Zahnersatz.
                    </div>
                  </div>

                  Zahnschienen.<br />
                  Unter Umständen ist die Anpassung einer speziellen Zahnschiene empfehlenswert, die Ihren Biss
                  langfristig korrigiert und in eine entspannende Position verschiebt. Welche Zahnschienen eingesetzt
                  werden können.
                </owl-expansion-panel>
                <br />
                Haben Sie seit Längerem Nacken- oder Kopfschmerzen, nur die Ursache konnte bislang nicht gefunden
                werden? Unter Umständen werden die Beschwerden von einem ungenau arbeitenden Kiefergelenk ausgelöst. Wir
                können dies überprüfen und Ihnen gegebenenfalls eine geeignete Behandlung empfehlen.
              </owl-accordion>
            </div>
          </div>
        </div></mat-tab
      ><mat-tab label="Zahnschienen">
        <div class="content-tab">
          <div class="content-tab-img-container">
            <img src="../../../assets/img/img-behandlung-prothetik-mindschutz-patai.jpg" />
          </div>
          <div class="content-tab-details-container">
            <div class="description-tab">
              In der Zahnmedizin gibt es sowohl therapeutische Zahnschienen als auch Zahnschienen, die beispielweise als
              Sportlermundschutz oder für Bleachingbehandlungen angefertigt werden.
              <br />
            </div>
            <div class="description-body">
              <div class="title-section">
                Im Folgenden stellen wir Ihnen eine Auswahl vor:
              </div>

              <owl-accordion>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Aufbiss- und Entspannungsschienen
                    </owl-expansion-panel-description>
                  </owl-expansion-panel-header>
                  Stellen wir fest, dass leichtes Zähneknirschen für Ihre Verspannungen verantwortlich ist, können wir
                  Ihnen häufig bereits mit Aufbiss- bzw. Entspannungsschienen helfen. Mit den Schienen sorgen wir in
                  erster Linie dafür, dass Ihr Kiefergelenk entlastet wird.<br />
                  Die Schienen gleichen den Biss zwischen Ober- und Unterkiefer aus und werden nachts auf die untere
                  Zahnreihe gesetzt. Die Folge: Ihre Muskulatur kann sich nun entspannen und lockern, und Ihre
                  Beschwerden verringern sich oder klingen sogar vollständig ab.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Knirscherschienen
                    </owl-expansion-panel-description> </owl-expansion-panel-header
                  >Ist nächtliches Zähneknirschen stark ausgeprägt, sind statt Aufbissschienen spezielle
                  Knirscherschienen sinnvoll. Sie verhindern insbesondere, dass sich Ihre Zähne nachts gegenseitig
                  „abschleifen“ und der Druck beim Aufeinanderpressen beispielsweise zu Rissen im Zahnschmelz führen
                  könnte.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Sportlermundschutz
                    </owl-expansion-panel-description> </owl-expansion-panel-header
                  >Sie treiben gerne und oft Sport, zum Beispiel Inline-Skating, Fußballspielen, Kampfsportarten oder
                  Mountainbiken? Bei diesen Sportarten passieren schneller Unfälle, von denen häufig auch die Frontzähne
                  betroffen sind. Um Ihre Zähne zu schützen, sind spezielle Schienen, ein Sportlermundschutz, sinnvoll.
                  Wir fertigen ihn individuell für Sie in unserem Praxislabor an.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Schnarchschienen
                    </owl-expansion-panel-description> </owl-expansion-panel-header
                  >Schnarchen Sie? Dann können wir Ihnen in einigen Fällen mit Schnarchschienen helfen. Die Ursache des
                  Schnarchens liegt meist in einer Verengung des Rachenraums beim Schlafen, was das typische
                  Schnarchgeräusch hervorruft. Schnarchschienen ähneln einer Zahnspange und schieben Unterkiefer und
                  Zunge nach vorne, sodass der Rachenraum geöffnet bleibt. Die Atemluft kann dadurch ungehindert
                  einströmen und das Schnarchen klingt ab.
                </owl-expansion-panel>
                <owl-expansion-panel>
                  <owl-expansion-panel-header>
                    <owl-expansion-panel-description>
                      Sonstige Zahnschienen
                    </owl-expansion-panel-description> </owl-expansion-panel-header
                  >Je nach Beschwerdebild und Diagnose können darüber hinaus weitere Zahnschienen empfehlenswert sein.
                  Befindet sich Ihr Kiefergelenk zum Beispiel in ausgeprägter Schieflage, ist meist eine
                  Positionierungsschiene sinnvoll. Sie bewegt das Kiefergelenk dauerhaft in eine „gerade“ Lage und sorgt
                  langfristig dafür, dass Beschwerden (Kopf-, Nacken-, Rückenschmerzen, Zähneknirschen usw.) abklingen.
                </owl-expansion-panel>
              </owl-accordion>
            </div>
          </div>
        </div></mat-tab
      ><mat-tab label="Narkosebehandlung">
        <div class="content-tab">
          
          <div class="content-tab-details-container">
            <div class="description-tab">
              Bei vielen zahnmedizinischen Therapien führen wir örtliche Betäubungen durch (zum Beispiel, wenn wir eine
              Zahnfleischentzündung oder eine Karies behandeln). <br />Darüber hinaus bieten wir Ihnen folgende
              Möglichkeiten:
            </div>
            <div class="description-body">
              <div class="title-section">Anästhesie-Gel für Kinder.</div>
              Sollte bei Kindern eine Behandlung notwendig sein und wir müssen eine örtliche Betäubung durchführen,
              geben wir vorher ein spezielles Anästhesie-Gel auf die Stelle. Es schmeckt lecker und betäubt das
              Zahnfleisch. Ihr Kind wird von der Spritze in der Regel nichts merken.
              <div class="title-section">Analgosedierung (Dämmerschlaf).</div>
              Insbesondere bei Angstpatienten ist eine Analgosedierung – eine Behandlung unter „Dämmerschlaf“ – vielfach
              empfehlenswert. Durch ein Beruhigungsmittel werden sie in einen äußerst entspannten Zustand versetzt,
              wobei gleichzeitig die Schmerzen ausgeschaltet werden. Sie bleiben aber bei Bewusstsein und können daher
              auf Anweisungen reagieren.
            </div>
          </div>
          <div class="content-tab-img-container">
              <img src="../../../assets/img/anaesthesie.jpg" />
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
